<head>
  <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
    <%= form_with url: search_post_path, method: :get do |form| %>
    <div class="search-container">
        <%= form.text_field :search, class: "search_textfield" %>
        <button class="search_button"> 
            <%= form.submit 'Search' %>
        </button>
    </div>
    <% end %>
</body>
