body {
  background-image: linear-gradient(rgb(68, 65, 255), rgb(80, 80, 80));
}
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.location-container {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
}
.home-location {
  color: var(--dl-color-gray-black);
  padding: var(--dl-space-space-halfunit);
  font-size: 80px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.current-temp-container {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.home-current-temp {
  font-size: 50px;
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.dashboard-image {
  width: 200px;
  object-fit: cover;
}
.weather-icon {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  min-height: 200px;
}
.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  justify-content: center;
}
.weather-data {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-conditions-data {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.home-description {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.home-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.date-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-end;
}
.date-text {
  position: absolute;
  top: 0;
  right: 0;
}
.home-text07 {
  width: auto;
  align-self: flex-start;
  text-align: left;
}
.home-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text08 {
  align-self: flex-end;
  text-align: right;
}

.search_button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #6e8feb;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search_button:hover {background-color: #6e8feb;}

.search_button:active {
  background-color: #4c72db;;
}
.search_textfield { 
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.search-container {
  display: flex;
  align-items: center;
}
